#sidebar {
  position: absolute;
  background: #ccc;
  top: 55px;
  bottom: 0;
  text-align: center;
}
.user-image {
  height: 100px;
  border-radius: 50%;
  margin-top: 35px;
  margin-bottom: 20px;
}
.sidebar-username {
  text-transform: lowercase;
  font-size: 28px;
}
.sidebar-name {
  text-transform: uppercase;
}
.sidebar-email {
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  
  #sidebar {
    position:relative;
    background: #ccc;
    top: 0;
    text-align: center;
    padding-bottom: 50px;
  }

}